#linearBg2 {
		
	  /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2E4CA6), to(#69B5F1));
	
	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(top, #2E4CA6, #69B5F1);
	
	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(top, #2E4CA6, #69B5F1);
	
	  /* IE 10 */
	  background: -ms-linear-gradient(top, #2E4CA6, #69B5F1);
	
	  /* Opera 11.10+ */
	  background: -o-linear-gradient(top, #2E4CA6, #69B5F1);
	}
body{
	background-size:100% 350px;
	background-repeat:no-repeat;
	background-image:url('/SmartZone/img/bg1.jpg');
	background-color:#69B5F1;
}
.jumbotron{
	background-color:rgba(255,255,255,0.4);
	font-family:"微软雅黑";
	margin-top:-20px;
	margin-bottom:50px;
}
.main .container{
	background-color:rgba(255,255,255,0.9);
	padding:2em;
}
.navbar-default{
	background-color:rgba(0,0,0,0);
}
.navbar-default .navbar-nav>li>a
   ,.navbar-default .navbar-brand{
	color:#fff;
}
.nav-pane{
	vertical-align:middle;
	float:right;
	margin-top:-1em;
	margin-right:9em;
	margin-left:-29em;
}
.a-panel{
	overflow:hidden;
	display:inline-block;
	width:70px;
	height:70px;
	margin:5px;
}
.a-panel>a{
	display:block;
	line-height:35px;
	font-size:30px;
	text-decoration:none;
	background-color:rgba(0,0,0,0.5);
	color:#fff;
}
.a-panel>.content{
	display:block;
	height:100%;
	width:70px;
}
.a-panel>.content>span{
	font-size: 50px;
  		line-height: 70px;
}
.transparent{
	display:inline-block;
	opacity:0;
	margin-right:165px;
}
.footer{
	width:100%;
	background-color:#fff;
	background-image:url('/SmartZone/img/fbg1.jpg');	
	background-size:100% 100%;
}
.footer .col-md-3,.footer .col-md-6 p{
	color:#fff;
}

.index-btn{
	margin-top:-29px;
	margin-bottom:2em;
}
.index-btn>.btns{
    border-radius: 0 0 10px 10px;
    display: inline-block;
}

.index-btn a{
	font-size:1.5em;
	color:#fff;
	font-family:"黑体";
	display:inline-block;
	line-height:2em;
	padding:0.5em 3em; 
	 /* Safari 4-5, Chrome 1-9 */
	  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2E4CA6), to(#69B5F1));
	
	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(top, #2E4CA6, #69B5F1);
	
	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(top, #2E4CA6, #69B5F1);
	
	  /* IE 10 */
	  background: -ms-linear-gradient(top, #2E4CA6, #69B5F1);
	
	  /* Opera 11.10+ */
	  background: -o-linear-gradient(top, #2E4CA6, #69B5F1);
	  border-radius: 0 0 10px 10px;
}

.btns a:hover{
	background:#2E4CA6;
}